<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Leaderboard style inspired by https://codepen.io/tristaaan/pen/LwfCc-->
        <!--Change css sheet-->
        <link rel="stylesheet" href="/static/css/style.css"> 
        <title>Concentration</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/templates/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/templates/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/templates/favicon-16x16.png">
        <link rel="manifest" href="/templates/site.webmanifest">
    </head>
    <body>
      <div id="reactEntry">Loading...</div>
      <script type="text/javascript" src="../static/js/bundle.js"></script>

      <div class="tablep">
        <table>
          <tbody>
            <tr>
              <th>Rank</th>
              <th>Nickname</th>
              <th>Points</th>
              <th>Time (seconds)</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Jessie</td>
              <td>102,345</td>
              <td>30</td>
          </tr>
            <tr>
              <td>2</td>
              <td>Bob</td>
              <td>2,321</td>
              <td>23</td>
          </tr>
          </tbody>
        </table></div>
    </body>
</html>