<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Change css sheet-->
        <link rel="stylesheet" href="/static/css/style.css"> 
        <title>Play Concentration</title>
        <!--VERY important for emojis in react-->
        <meta charset="UTF-8">
    </head>
    <body>

        <div id="reactEntry">Loading...</div>
        <script type="text/javascript" src="../static/js/bundle.js"></script>

                <!--Have to back out of templates directory to get to js... could try {{ url_for('js', 'genGrid.js') }}-->
                <!-- <script src="../js/genGrid.jsx"></script> -->
    </body>