<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Change css sheet-->
        <link rel="stylesheet" href="/static/css/style.css"> 
        <title>Play Concentration</title>
        <!--VERY important for emojis in react-->
        <meta charset="UTF-8">

        <link rel="apple-touch-icon" sizes="180x180" href="/templates/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/templates/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/templates/favicon-16x16.png">
        <link rel="manifest" href="/templates/site.webmanifest">
    </head>
    <body>

        <div id="reactEntry">Loading...</div>
        <script type="text/javascript" src="../static/js/bundle.js"></script>

                <!--Have to back out of templates directory to get to js... could try {{ url_for('js', 'genGrid.js') }}-->
                <!-- <script src="../js/genGrid.jsx"></script> -->
    </body>