:root {
  --background-color: #F06292;
  --cell-color: #F48FB1;
  --cell-color-hover: rgba(255, 255, 255, .3);
  --emoji-size: 7.5vw;
  --column-number: 5;
  --transition: .3s;
  --zoom: 1.5;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  user-select: none;
  overflow-x: hidden;
}

.input {
text-align: center;
margin: 0px;
top: 50%;
left: 8%;
position: relative;
}

.button {
transition-duration: 0.4s;
font-size: 100px;
float: left;
}

.button:hover {
background-color: black; /* Green */
border: none;
color: white;
text-align: center;
text-decoration: none;
display: center-block;
}

.grid {
  display: grid;
  position: relative;
  width: 50vw;
  grid-template-columns: repeat(var(--column-number), 1fr);
  margin: 5% 0;
  left: 45vw;
  transform: translateX(-50%);
  /*background-color:;*/
}

.grid > div {
  position: relative;
  height: 0;
  overflow: hidden;
  text-align: center;
  padding-bottom: 90%;
  margin: 5%;
  border-radius: 1vw;
  transition: var(--transition);
  background-color: var(--cell-color);
  cursor: pointer;
}

.emoji {
  position: absolute;
  font-size: var(--emoji-size-1);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  transition: var(--transition);
}

.grid > div:hover {
  z-index: 999;
  transform: scale(var(--zoom));
  background-color: var(--cell-color-hover);
}

.grid > div:hover .emoji {
  transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
}

.pcongrats {
  text-align: center;
}

.congrats {
  color: seagreen;
  text-align: center;
  font-size: 5vw;
}

/* Forms */

.form-wrap{
  width: 35%;
  margin: 0 auto;
  top: 50vw;
  font-size: 40px;

  border: 15px solid green;
  padding: 50px;
}

.left-form{
width: 47.5%;

float: left;
}

.right-form{
width: 47.5%;

float: right;
}


@media screen and (max-width: 1200px) {
.form-wrap{
  width: 90%;
}
}


@media screen and (max-width: 600px) {
.form-wrap{
  width: 90%;
}

.left-form{
  width: 100%;
}

.right-form{
  width: 100%;
}
}

table{
  color: black;
  border-spacing: 0;
  text-align: center;
  margin-left:10%; 
  margin-right:50%;
}

tr:first-child{
  background-color: white;
}

tr:nth-child(2) > td{
  border-top-width: 0;
}

tr{
  background-color: lightblue;
}

th, td{
  margin: 0;
  padding: .5em 1.5em;
  text-align: center;
  border-width: 1px 0;
  border-color: white;
  border-style: solid;
}

th{
  border-bottom-width: 1px;
  font-size: 3vw;
}

td{
  font-size: 2vw;
}

th:nth-child(even){
  border-width: 0 4px;
  border-color: darken(lightblue, 20%);
  border-style: solid;
}

td:nth-child(even){
  border-width: 1px 4px;
  border-color: white;
  border-style: solid;
}

.pinfo{
  text-align: left;
}

.info {
  color: gold;
  text-align: left;
  margin-left:20%; 
  tab-size: 4;
  font-size: 2vw;
}

.info2 {
  color: dimgray;
  text-align: center;
  tab-size: 4;
  font-size: 2vw;
}

.concentration {
  color: lightgrey;
  text-align: center;
  font-size: 6vw;
}